<div class='{{ class }}'>
    <span>{{ text }}</span>
    <ul class='payment-methods'>
        <li class='payment-methods__item'>
            <img src='/images/coin1.svg' alt=''>
        </li>
        <li class='payment-methods__item'>
            <img src='/images/coin2.svg' alt=''>
        </li>
        <li class='payment-methods__item'>
            <img src='/images/coin3.svg' alt=''>
        </li>
        <li class='payment-methods__item'>
            <img src='/images/coin4.svg' alt=''>
        </li>
        <li class='payment-methods__item'>
            <img src='/images/coin5.svg' alt=''>
        </li>
    </ul>
</div>
