<div class='{{ class }}'>
    <span>{{ text }}</span>
    <img src='/images/coin1.svg' alt=''>
    <img src='/images/coin2.svg' alt=''>
    <img src='/images/coin3.svg' alt=''>
    <img src='/images/coin4.svg' alt=''>
    <img src='/images/coin5.svg' alt=''>
</div>
