<div class='product-card'>
    <button
        class='product-card__info-btn'
        type='button'
        data-productID='{{product.id}}'
    >
        <span class='sr-only'>View more</span>
        <div>
            <img
                class='product-card__img'
                loading='lazy'
                src='{{product.image}}'
                alt=''
            >
        </div>
    </button>
    <div class='product-card__data'>
        <div>
            <h3 class='product-card__name'>{{ product.title }}</h3>
            <p class='product-card__price'>${{ product.price }} USD</p>

            {% render 'product-tags.liquid',
                tags: product.tags,
                class: 'product-card__tag'
            %}
        </div>

        <button type='button' class='product-card__add-btn'>
            <span class='sr-only'>add to cart</span>
        </button>
    </div>
</div>
