@use './../abstracts/variables' as var;
@use './../snippets/marquee';

.top-bar {
    position: fixed;
    top: 0;
    text-transform: uppercase;
    font-weight: bold;
    background-color: var.$brand-color;
    color: var.$text-color;
    font-size: 0.8rem;
    padding: 0.5rem 0;

    --_marquee-bg-color: #{var.$brand-color};
}
