// because is a mobile-firts, there is no need for small screens specification
$breakpoints: (
    'm': 768px,
    'l': 1024px,
    'xl': 1280px,
);
$max-width: 1360px;

$font-p: 'Aeonik TRIAL', system-ui;
$font-heading: 'Countach', system-ui;

$background-color: rgb(23, 23, 23);
$text-color: rgb(255, 255, 255);
$brand-color: rgba(118, 44, 251, 1);
$brand-color-hover: rgba(118, 44, 251, 0.9);

$font-size-p-mobile: 0.75rem;
$font-size-p-desk: 1rem;
$font-size-s: 0.75rem;
$font-size-h-collections: 2rem;
$font-size-hero-btn: 1.5rem;
$font-size-marquee-s: $font-size-s;
$font-marquee-b-mobile: 3.5rem;
$font-marquee-b-desk: 5.5rem;
$round-corner: 5px;
