@use './../abstracts/variables' as var;
@use './../abstracts/mixins' as mix;

body {
    font-family: var.$font-p;
    background-color: var.$background-color;
    background-image: url('/images/bg-noise.webp');
    color: var.$text-color;
}
