{% assign featured = settings['featured-products'].settings %}
{% assign initial_prd = featured.initial_products %}

<section class='featured'>
    <h2 class='featured__title sr-only'>
        {{ featured.heading }}
    </h2>

    <div class='featured__list'>
        {% render 'product-loop', products: products, limit: initial_prd %}
    </div>

    {% if products.size > initial_prd %}
        <div class='featured__list hidden' id='products-extra'>
            {% render 'product-loop', products: products, offset: initial_prd %}
        </div>

        <button class='featured__more-btn'>Ver más</button>
    {% endif %}
</section>
