<header class='header'>
    <button type='button' class='header__hamburguer'>
        <span class='sr-only'>Open menu</span>
        open menu
    </button>

    <div class='header__logo'>
        <span class='sr-only'>Shuffle Store</span>
        Shuffle Store
    </div>

    <div class='header__payment-methods'>
        {% include 'payment-methods.liquid' %}
    </div>

    <nav class='header__menu'>
        <ul>
            <li><a href='#'>All Products</a></li>
            <li><a href='#'>Collections</a></li>
        </ul>
    </nav>

    <button type='button' class='header__cart'>
        <span class='sr-only'>Open my shopping cart</span>
        cart
    </button>
</header>
