{% assign from = settings['hero-banner'].settings %}

<div class='hero'>
    <div class='hero__highlight'>
        <img
            clas='hero__img'
            src='{{from.background_image}}'
            alt='{{from.background_image_alt}}'
        >
        <a clas='hero__btn' href='{{from.button_link}}'>
            {{ from.button_text }}
        </a>
    </div>
    <div class='marquee hero__marquee'>
        {% render 'marquee', text: from.marquee_bottom_text %}
    </div>
</div>
